<div scrollable class='part part-lg-h part-lg--40 part-sm-f part-sm--q'>
	<div class='outercontent'>
		<div class='innercontent text-center'>
			<span class="helper"></span>
			<div class='text-center inline-block verticalmiddle'   ng-bind-html='trustAsHtml(model.content.contact[0].post_content)'>
			</div>
		</div>
	</div>
</div>
<div class='part part-lg-h part-lg--40 part-sm-f part-sm--q part-sm---center'>
	<span class="helper"></span>
	<div class="inline-block verticalmiddle">
		<ul class='no-padding font-mid'>
			<li>{{model.content.contact[0].Email}}</li>
			<li>{{model.content.contact[0].Post}}</li>
			<li>{{model.content.contact[0].Telephone}}</li>
		</ul>
	</div>
</div>
<div class='part part-lg-f part-lg-h' ng-show='model.content.showcontact' llaanimate llaanimateon='model.content.contactanimate' llaanimatein='stretchRight' llaanimateout='fadeOut' >
	<!-- contact form -->
		<div class='part part-lg-f part-lg--2t part-top-padding' ng-show="mailrequest.showdialog">
			<div class="alert alert-info" ng-show='mailrequest.loading'>
					<button type="button" class="close" ng-click="mailrequest.showdialog=false" aria-hidden="true">&times;</button>
					<strong>Your Request is being Processed...</strong>
			</div>
			<div class="alert alert-success" ng-show='mailrequest.success'>
                <a ng-href='#/contact/~'><button type="button" class="close" ng-click="mailrequest.showdialog=false" aria-hidden="true">&times;</button></a>
					<strong>{{mailrequest.returnmessage}}</strong>
			</div>
			<div class="alert alert-danger" ng-show='mailrequest.fail'>
					<button type="button" class="close" ng-click="mailrequest.showdialog=false" aria-hidden="true">&times;</button>
					<p>Sorry there was a problem</p>
					<ul>
						<li ng-repeat='error in mailrequest.errors'>
							<strong>{{error.message}}</strong>
						</li>
					</ul>
					<p >Please Try Again</p>
			</div>
		</div>
	<form name="registerForm" role="form" ng-submit="submitMail()" novalidate>
		<div class='part part-lg-h part-lg--2t' ng-hide='mailrequest.showdialog'>
			<div class="form-group small-input" ng-class="{ 'has-error' : registerForm.email.$invalid && !registerForm.email.$pristine }"ng-hide='mailrequest.showdialog'>
				<label for="email">Email address*</label>
				<input type="email" class="form-control" name="email" ng-model="mail.email" required>
				<span ng-show="registerForm.email.$invalid && !registerForm.email.$pristine" class="help-block">Please enter your email address</span>
			</div>
			<div class="form-group large-input" ng-class="{ 'has-error' : registerForm.email.$invalid && !registerForm.email.$pristine }"ng-hide='mailrequest.showdialog'>
				<label for="email">Message*</label>
				<textarea class="form-control" name="message" ng-model="mail.message" required></textarea>
				<span ng-show="registerForm.message.$invalid && !registerForm.mail.$pristine" class="help-block">You must have a message</span>
			</div>
		</div>
		<div class='part part-lg-h part-lg--2t'ng-hide='mailrequest.showdialog'>
			<div class="form-group small-input" ng-class="{ 'has-error' : registerForm.name.$invalid && !registerForm.name.$pristine }"ng-hide='mailrequest.showdialog'>
				<label for="name">Your Name*</label>
				<input type="text" class="form-control" name="name" ng-model="mail.name" required>
				<span ng-show="registerForm.name.$invalid && !registerForm.name.$pristine" class="help-block">Please enter your name address</span>
			</div>
			<div class="form-group" >
				<label>Captcha*</label>
				<div re-captcha ng-model="mail.captcha"></div>
			</div>
			<button type="submit" ng-disabled="registerForm.$invalid" class="btn btn-primary">Submit Mail</button>
		</div>
	<form>
</div>
<div class='part part-lg-f part-lg-h part-top-padding text-center' ng-hide='model.content.showcontact'>
    <a ng-href='#/contact/mail'><h4>Message Morag Now</h4></a>
</div>



