<div  class='part part-lg-h part-lg--h'>
	<h1 class='website-title'>{{model.blog_title}}</h1>
</div>
<div class='part part-lg-h part-lg--h'>
	<ul class='quotes'>
		<!-- start of repeat in quotes -->
		<li ng-repeat='quote in model.content[0].content.quotes'>
			<h3>{{quote}}</h3>
		</li>
	</ul>
</div>
<div class='part part-lg-h part-lg--h'>
	<h2>Sense</h2>
	<ul>
		<!-- start of repeat in sense_nave -->
		<li ng-repeat='nav in model.content[0].content.sense_nav'>
			<a ng-href="/{{nav.slug}}"> {{nav.name}}</a>
		</li>
	</ul>
</div>
